<script>
  var CONTENT_SCRIPTS = [
    'caretbrowsing/injected/binary.js', // compiled
    'closure/closure_preinit.js',
    'closure/base.js',
    'deps.js',
    'caretbrowsing/injected/loader.js'
  ];
</script>
<script src="background.js"></script>
