.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

body {
    font-size: 14px;
    font-family: 'Lucida Grande', sans-serif;
    color: #282828;
}

div {
    padding-left: 30px;
    padding-top: 10px;
}

.option {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom:10px;
}

p {
    padding-top:0px;
    margin-top:0px;
    margin-bottom:25px;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom:0px;
    padding-bottom:0px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

a {
    color: #337ef1
}

input {
    font-size: 12pt;
    color: #787878;
}

.description {
    margin-bottom: 0px;
}

.key {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom:10px;
    padding-right: 5px;
    margin-right: 5px;
}

.key-container {
    padding-left: 0px;
}